include ../shared/other-top
include ../shared/common

div.d Hey,
+br
div.d We're getting in touch to invite you to join Sunday, on behalf of #{firstName} #{lastName} (#{email}).
+br
div.d Sunday is a weekly paper made up of stories written by the people you care most about.
+br
div.d Each week, you get to write one story, which you can do at any time. On Sunday, you receive a single email with all of your friends' stories, as do they. And that's about it.
+br
+howdoesitwork
+whatisastory
div.d.u How do you sign up?
+br
div.d To sign up and write stories for #{firstName} and other friends, copy Harry's info below, including his friends' emails. Then reply to this email, paste that info in and change them to your own details.
+br
div.d We'll get in touch with every email address that you give us, inviting your friends to read your Sunday stories, and to write stories themselves. We've put the email address for #{firstName} in there so they'll receive your stories in return but you can take it out if you'd prefer.
+br
div.d (By the way &mdash; if you only want to receive stories from #{firstName}, and don't want to write stories yourself, you don't have to do anything at all.)
+br
div.d.i.u First name: 
div.d.i Harry
div.d.i.u Last name:
div.d.i Potter
+br
div.d.i.u Friends' emails:
div.d.i #{email}
div.d.i ginny@potter.com
div.d.i ron@dumbledoresarmy.co.uk
div.d.i hermione@mofm.co.uk
div.d.i neville.longbottom@leakycauldron.co
+br
div.d Five to ten emails is a good amount (you can always add more later).
+br
div.d One thing we want to mention up front: Sunday is free for now but will eventually cost £1 a month for signed up users. We've written a bit more about that at the bottom of this email.
+br
div.d Lastly &mdash; if you don't want to receive stories from #{firstName}, and want us to take you off Sunday completely, just reply saying ‘NOTHANKS' and we'll delete your email from our system.
+br
div.d We hope you enjoy writing and reading stories, and that Sunday adds something to your life!
+br
div.d Yours,
div.d Sunday
+br
div.d --
+br
+whydidyousetupsunday
+howmuchdoessundaycost