include ../shared/other-top
include ../shared/common

div.d #{boundaries.on_invite} #{firstName} on Sunday, a simple way to share stories that scratch below the surface.
+br
div.d Think of it like a newspaper written by the best people in your life, delivered every Sunday.
+br
div.d To become a Sunday writer for #{firstName} and others, reply with info in this format:
+br
div.d.i.u First name:
div.d.i #{dummyname.firstName}
+br
div.d.i.u Last name:
div.d.i #{dummyname.lastName}
+br
div.d.i.u Amazing people you want to write stories for:
div.d.i #{email}
div.d.i #{dummies[0]}
div.d.i #{dummies[1]}
div.d.i #{dummies[2]}
div.d.i #{dummies[3]}
+br
div.d (It's best to copy #{dummyname.firstName}'s info, paste into your reply, and edit to your own details.)
+br
div.d Want to know more? Get in touch with me (Louis, the founder of Sunday) on louis@sundaystori.es or +27 82 626 9880.