include ../shared/other-top
include ../shared/common

div.d #{firstName}, #{boundaries.on_reminder}'d like to write a Sunday story this week, you should do it in the next 48 hours before stories go out.
+br
div.d (Sunday stories go out at 7pm GMT, or 8pm British summer time, 9pm South Africa and most of Europe, noon PST, 3pm EST.)
+br
div.d Two simple steps:
+br
div.d 1. Send your story to write@sundaystori.es in a fresh new email. All the text in the email will be taken as your story. If you'd like to include a picture, attach it or drop it in.
+br
div.d 2. Take a quick look at the story confirmation we'll send you to make sure you're happy with it.
+br
div.d.u Not sure what to write?
+br
div.d Your story can be as short or long as you like. You could choose a photo from this week and write about what it means to you. Or talk about a book you're reading, a song you've been listening to, something that happened in the news, a moment that made your week. Even if you just write a couple of lines, chances are the people you've chosen as your Sunday readers will love it.
+br
div.d Here are the people who'll get your story: #{readers}.
+br
div.d You can change your readers at any time by replying like this:
+br
div.d #{cmd.addReader} #{dummies[4]}
div.d #{cmd.removeReader} #{dummies[5]}
+br
div.d Also, we know emails can be a pain so if you'd rather not get these reminders, reply with #{cmd.stopReminders}.
+br
div.d One last thing: thank you very much for being a Sunday writer. I hope it adds something to your life and those of your readers. Sunday is early stage, and made by one person (me) &mdash; that makes you one of Sunday's very earliest users. I'd love to know what you think about it so far or if anything doesn't work for you. Get in touch at louis@sundaystori.es.