include ../shared/other-top
include ../shared/common

div.d Hey,
+br
div.d Thanks for getting in touch.
+br
div.d #{boundaries.on_signup} the people you care most about.
+br 
div.d Each week, you get to write one story, which you can do at any time. On Sunday, you receive a single email with all of your friends' stories, as do they. And that's about it.
+br
+whatisastory
+howdoesitwork
div.d.u How do I get started?
+br
div.d Copy #{dummyname.firstName}'s info below, including his friends' emails. Then reply to this email, paste in the info and change it to your own details.
+br
div.d We'll get in touch with every email address that you give us, inviting your friends to read your Sunday stories, and to write stories themselves.
+br
div.d.i.u First name: 
div.d.i #{dummyname.firstName}
div.d.i.u Last name:
div.d.i #{dummyname.lastName}
+br
div.d.i.u Friends' emails:
div.d.i #{dummies[0]}
div.d.i #{dummies[1]}
div.d.i #{dummies[2]}
div.d.i #{dummies[3]}
+br
div.d Five to ten emails is a good amount (you can always add more later).
+br
div.d One thing we want to mention up front: Sunday is free for now but will eventually cost £1 a month for signed up users. We've written a bit more about that at the bottom of this email.
+br
div.d We hope you enjoy writing and reading stories, and that Sunday adds something to your life!
+br
div.d Yours,
div.d Sunday
+br
div.d --
+br
+whydidyousetupsunday
+howmuchdoessundaycost