include ../shared/story-top
include ../shared/common
include ../shared/story-content

div.d Hey #{firstName},
+br
div.d Your story for this Sunday is below.
+br
div.d #{confirmMsg}
+br
if readersHumanized
  div.d You might want to check that you're happy with who it's going to be sent to: #{readersHumanized}.
  +br            
  div.d (If only their email, and not their name, is showing, that means they haven't yet signed up to be a writer, so you won't receive their stories. Feel free to give them a nudge, if it won't be annoying.)
else
  div.d It looks like you currently have no readers of your Sunday stories.
+br
div.d You can easily add a new reader by replying with do 'ADDREADER newreader@theiremail.com' (which will send them an invite if they aren't yet on Sunday), or you can do 'REMOVEREADER newreader@theiremail.com'. And you can include these as much as you like.
+br
each val, index in stories
  +textArea(index + 1, val.name, val.day, val.text)
  +br
  if val.imageUrl
    +image(val.imageUrl)
    +br
div.d If your story doesn't look right, here are a few things you can do:
+br
div.d - write '#{cmd.storyEnd}' to mark where your story ends, if your signature is accidentally getting included
div.d - make sure you are sending an HTML email, not plain text
div.d - reply saying what the problem is and write '#{cmd.sundayHelp}' in your reply, which means a real person will investigate for you
+br
div.d Yours,
div.d Sunday