include ../shared/other-top
include ../shared/common

if referredUserFirstName
  div.d Hey #{referredUserFirstName},
else
  div.d Hey,
+br
div.d #{firstName} #{lastName} (#{email}) would like to send you stories on Sunday.
+br
div.d If that's OK, you don't need to do anything. They'll be added to your Sunday stories.
+br
div.d If you'd rather not receive their stories, that's totally OK. Just reply and write '#{cmd.removeWriter} #{email}'. We'll explain to them that you prefer to keep Sunday just for a particular circle of family or close friends, no harm done.
+br
if !referredUserFirstName
  div.d If you'd like to write Sunday stories for #{firstName} and others, and not just read them, copy the below italics. Then reply to this email, paste in the italics and change them to your own details.
  +br
  div.d We'll get in touch with every email address that you give us, inviting your friends to read your Sunday stories, and to write stories themselves. We've put the email address for #{firstName} in there but you can take it out if you'd prefer.
  +br
  div.d.i.u First name: 
  div.d.i Harry
  div.d.i.u Last name:
  div.d.i Potter
  +br
  div.d.i.u Friends' emails:
  div.d.i #{email}
  div.d.i ginny@potter.com
  div.d.i ron@dumbledoresarmy.co.uk
  div.d.i hermione@mofm.co.uk
  div.d.i neville.longbottom@leakycauldron.co
  +br
  div.d Five to ten emails is a good amount (you can always add more later).
  +br
div.d Yours,
div.d Sunday