include ../shared/story-top
include ../shared/common
include ../shared/story-content

if firstName
  div.d Hey #{firstName},
  +br
  if (stories.length === 1)
    div.d You've #{boundaries.on_sunday1}! If you'd like to receive more, give a nudge to your Sunday readers to sign up and write a story sometime.
  else
    div.d #{boundaries.on_sunday2}!
else
  .d Hi!
  +br
  if (stories.length === 1)
    .d You've received one Sunday story this week &mdash; it's just below.
  else
    .d Your Sunday stories are just below.
  +br
  .d #{boundaries.on_sunday3}, please consider signing up and inviting some of your family and closest friends.
  +br
  .d You'll receive more stories (from them), be able to write your own whenever you feel like it, and help spread the word about a more meaningful way to share with the best people in your life.
  +br
  .d It's easy and free to sign up via the instructions at the bottom of this email. No pressure though &mdash; you'll continue getting stories even if you don't.
  +br 
  .d Cheers,
  +br
  .d Louis (Sunday's founder, President, CEO and unpaid intern)
  +br
  .d ––––––––––––––––––––––––––––––––––––––––
+br
each val, index in stories
  +textArea(index + 1, val.name, val.day, val.text)
  +br
  if val.imageUrl !== 'none'
    +image(val.imageUrl)
    +br
if !firstName
  div.d ––––––––––––––––––––––––––––––––––––––––
  +br
  div.d.u How to sign up to Sunday
  +br
  div.d Just reply to this email with info in this format:
  +br
  div.d.i.u First name:
  div.d.i #{dummyname.firstName}
  +br
  div.d.i.u Last name:
  div.d.i #{dummyname.lastName}
  +br
  div.d.i.u Amazing people you want to write stories for:
  div.d.i #{dummies[0]}
  div.d.i #{dummies[1]}
  div.d.i #{dummies[2]}
  div.d.i #{dummies[3]}
  +br
  div.d (It's best to copy #{dummyname.firstName}'s info, paste into your reply, and edit to your own details.)
  +br
  div.d Want to know more? Get in touch with me on louis@sundaystori.es.