include ../shared/other-top
include ../shared/common

div.d Congratulations! You're now one of the first ever Sunday writers.
+br
div.d #{boundaries.on_confirmsignup} write@sundaystori.es. Everything in the email will be taken as your story. If you'd like to include a picture, attach it or drop it in.
+br
div.d 2. Check over the story confirmation we'll send you to make sure you're happy with how it looks.
+br
div.d 3. Your story will be sent out on Sunday in your friends' Sunday emails, and you'll receive theirs in yours.
+br
div.d A story can be anything. A hilarious anecdote, reflections on a tough week, a piece of fiction, a treasured memory. Something people might never know about fully if you don't write it.
+br
div.d Send in your Sunday story whenever you like, but bear in mind that stories are sent out at 7pm GMT every Sunday. That's 8pm British summer time, 9pm South Africa and most of Europe, noon PST, 3pm EST. If you send in your story after that time, it'll be sent out next Sunday.
+br 
div.d Here are the people we added as your readers: #{addReaderEmailsHumanized}.
+br
div.d You can change your readers at any time by emailing in like this:
+br
div.d #{cmd.addReader} #{dummies[4]}
div.d #{cmd.removeReader} #{dummies[5]}
+br
div.d One last thing: thank you very much for being a Sunday writer. I hope it adds something to your life and those of your readers. Sunday is very early stage, and made by one person (me). I'd love to know what you think or if anything doesn't work for you. Get in touch at louis@sundaystori.es.
+br
div.d Enjoy writing!